<!DOCTYPE html>
<html lang="it"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Kevin">
    <meta name="keywords" content="Compro, Vendo">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/CSS/style.css}">
    <title>Create</title>
</head>
<body>
<header><h1>Inserimento articolo</h1></header>
<nav>
    <a th:href="@{/}">Home</a> |
    <a>Crea Item</a> |
</nav>

<form action="http://localhost:8080/item" method="post">
    <fieldset>
        <legend>Inserimento articolo</legend>

        <div>
            <label for="titolo">Titolo:<br></label>
            <input type="text" id="titolo" name="title">
        </div>
        <div>
            <label for="autore">Autore:<br></label>
            <input type="text" id="autore" name="author">
        </div>
        <div>
            <label for="categoria">Categoria:<br></label>
            <select id="categoria" name="category">
                <option th:each="t: ${categories}" th:value="${t}" th:text="${t.name}"></option>
            </select>
        </div>
        <div>
            <label for="typeID">Tipo:<br></label>
            <select id="typeID" name="type">
                <option th:each="t: ${types}" th:value="${t}" th:text="${t}"></option>
            </select>
        </div>
        <div>
            <label for="description">Descrizione:<br></label>
            <textarea id="description" name="description"></textarea>
        </div>
        <div>
            <input type="submit" value="CREA ITEM">
        </div>
    </fieldset>
</form>

</body>
</html>