<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Kevin">
    <meta name="keywords" content="Compro, Vendo">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/CSS/style.css}">
    <title>Home</title>
</head>
<body>
<header><h1>Nome del sito template</h1></header>
<nav>
    <a>Home</a> |
    <a th:href="@{/item/new}">Crea Item</a> |
</nav>


</body>
</html>