<!DOCTYPE html>
<html lang="it"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item details</title>
    <meta name="author" content="Kevin">
    <meta name="keywords" content="Compro, Vendo">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/CSS/style.css}">
</head>
<body>

<div class="container">
    
<header><h1>Dettagli articolo</h1></header>
<nav>
    <a href="./index.html">Home</a> |
    <a href="./createItem.html">Crea Item</a> |
</nav>
    <div>
        <main class="box1">
            <section>
                <h2>Articolo 1</h2>
                <article>
                    <p>Qualcosa di scritto</p>
                </article>
            </section>
        </main>
        <aside class="box2">
            <h2>Barra laterale</h2>
        </aside>
    </div>
</div>
<footer>
    <small>footer</small>
</footer>
</body>
</html>